# TODO: figure out which we need
.astro
astro/.astro/
astro/dist/

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/

# runtime database
app.db
metrics.db

data

