<!doctype html>
<html lang="en-US">
  <head>
    <title>Flashcards</title>
    <meta name="description" content="tool for learning Mandarin" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/index.css" />
    <script
      src="https://unpkg.com/htmx.org@2.0.1"
      integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <h1 class="text-3xl">Words</h1>

    <form id="new-quiz" method="post" action="/quiz/new">
      <label>
        From
        <select multiple name="from">
          <option>Traditional</option>
          <option>Pinyin</option>
          <option>English</option>
        </select>
      </label>

      <label>
        To
        <select multiple name="to">
          <option>Traditional</option>
          <option>Pinyin</option>
          <option>English</option>
        </select>
      </label>

      <!-- include as progressive enhancement -->
      <!-- <label>
        <input type="checkbox" checked />
        Select All
      </label> -->

      <button type="submit" class="p-2 m-2 border rounded-md">New Quiz</button>
    </form>

    <table class="border-separate border-spacing-4 text-lg">
      {{ range .Data.Words }}
        <tr>
          <td class="">
            <input
              type="checkbox"
              form="new-quiz"
              name="words"
              value="{{ .English }}"
              checked
            />
          </td>
          <td class="">
            <input
              form="edit-{{ .English }}"
              type="text"
              name="traditional"
              value="{{ .Traditional }}"
              class="border"
            />
          </td>
          <td class="">
            <input
              form="edit-{{ .English }}"
              type="text"
              name="pinyin"
              value="{{ .Pinyin }}"
              class="border"
            />
          </td>
          <td class="">
            <input
              form="edit-{{ .English }}"
              type="text"
              name="english"
              value="{{ .English }}"
              class="border"
            />
          </td>
          <td class="">
            <form method="post" action="/delete" class="inline">
              <input type="hidden" name="english" value="{{ .English }}" />
              <button type="submit" class="py-1 px-2 border rounded-md text-xs">
                Delete
              </button>
            </form>

            <form
              id="edit-{{ .English }}"
              method="post"
              action="/edit"
              class="inline ml-4"
            >
              <input type="hidden" name="id" value="{{ .English }}" />
              <button type="submit" class="py-1 px-2 border rounded-md text-xs">
                Edit
              </button>
            </form>
          </td>
        </tr>
      {{ end }}
    </table>
  </body>
</html>
