.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  border: 0;
}

.excel-like-table tr:last-child > * {
  border-bottom: none;
}

.excel-like-form > * {
  border: solid 1px black;
  border-left: none;
}

.excel-like-form > *:nth-child(1) {
  border-left: solid 1px black;
}

.inline {
  display: inline;
}

.block {
  display: block;
}