<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Flashcards for learning Mandarin</title>

  <script src="https://unpkg.com/htmx.org@2.0.1"
    integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/"
    crossorigin="anonymous"></script>

  @vite(['resources/css/app.css', 'resources/js/app.js'])
</head>

<body class="container mx-auto" hx-boost="true">
  <h1 class="text-3xl mb-4">Words</h1>

  @flashMessage('notification')
  <div class="p-2 notification {{ $message.type }}" role="alert" aria-live="polite">
    {{ $message.message }}
  </div>
  @end

  <form id="new-quiz" method="post" action="/quizes/create" class="">
    {{ csrfField() }}
    <label>
      From
      <select multiple name="from[]" required>
        <option value="traditional">Traditional</option>
        <option value="pinyin">Pinyin</option>
        <option value="english">English</option>
      </select>
    </label>

    <label>
      To
      <select multiple name="to[]" required>
        <option value="traditional">Traditional</option>
        <option value="pinyin">Pinyin</option>
        <option value="english">English</option>
      </select>
    </label>

    <!-- include as progressive enhancement -->
    <!-- <label>
      <input type="checkbox" checked />
      Select All
    </label> -->

    <button type="submit" class="p-2 m-2 border rounded-md">New Quiz</button>
  </form>

  <table
    class="grid mx-1 grid-cols-[auto_70px_minmax(70px,_1fr)_minmax(70px,_1fr)_auto] gap-y-2 sm:grid-cols-[auto_minmax(70px,_1fr)_minmax(70px,_1.5fr)_minmax(70px,_1.5fr)_auto]">
    @let(input = "w-full border")
    @let(actionCol = "overflow-auto whitespace-nowrap")
    @let(actionItem = "inline-block")

    <tbody class="contents">
      @each(word in words)

      @wordTableRow({ word })
      @end

      @end

      <tr hx-swap="beforebegin" hx-target="closest tr" class="contents">
        <td class="">
        </td>
        <td class="">
          <input form="create-word" type="text" name="traditional" value="" class="{{ input }}" />
        </td>
        <td class="">
          <input form="create-word" type="text" name="pinyin" value="" class="{{ input }}" />
        </td>
        <td class="">
          <input form="create-word" type="text" name="english" value="" class="{{ input }}" />
        </td>
        <td class="{{ actionCol }}">
          <form id="create-word" method="post" action="/words" hx-post="/words?htmx=true" class="{{ actionItem }}"
            onsubmit="this.submit(); this.reset(); return false;">
            {{ csrfField() }}
            <button type="submit" class="py-1 px-2 border rounded-md text-xs">
              Add
            </button>
          </form>
        </td>
      </tr>
    </tbody>
  </table>
</body>

</html>