<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Flashcards for learning Mandarin</title>

    <!-- Prod: compiled CSS -->
    <link th:if="${#arrays.contains(@environment.activeProfiles, 'prod')}" rel="stylesheet" th:href="@{/css/tailwind.min.css}" />
    <!-- Dev: Tailwind CDN -->
    <script th:unless="${#arrays.contains(@environment.activeProfiles, 'prod')}" src="https://cdn.tailwindcss.com"></script>

    <link
      rel="icon"
      href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22 fill=%22red%22><text y=%22.9em%22 font-size=%2290%22>中</text></svg>"
    />
    <script type="importmap">
      {
        "imports": {
          "lit": "https://esm.run/lit@3",
          "lit/directives/ref.js": "https://esm.run/lit@3/directives/ref.js"
        }
      }
    </script>
  </head>

  <body class="container px-2 mx-auto" hx-boost="true">
    <h1 class="text-3xl mt-4 mb-8">Words and Phrases</h1>

    <flash-alert
      id="flash"
      th:type="${flash != null ? flash.type.name().toLowerCase() : ''}"
      th:message="${flash != null ? flash.message : ''}"
      th:details="${flash != null && flash.details != null ? flash.details : ''}"
    ></flash-alert>

    <table
      class="grid mx-1 overflow-auto grid-cols-[auto_70px_minmax(70px,_1fr)_minmax(70px,_1fr)_auto] sm:grid-cols-[auto_minmax(70px,_1fr)_minmax(70px,_1.5fr)_minmax(70px,_1.5fr)_auto]"
    >
      <style>
        .input {
          width: 100%;

          border: solid 1px black;

          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          border-radius: 0;
          background: transparent;
          outline: none;
          font: inherit;
          color: inherit;
        }
      </style>

      <thead class="contents">
        <tr class="contents">
          <th></th>
          <th>Trad</th>
          <th>Pinyin</th>
          <th>English</th>
          <th></th>
        </tr>
      </thead>

      <tbody class="contents">
        <th:block th:each="phrase, index : ${phrases}">
          <th:block th:replace="~{ :: row(phrase=${phrase}, index=${index})}"></th:block>
        </th:block>

        <th:block th:fragment="row (phrase, index)" th:if="${phrase}">
          <!-- data-id attr is just for debuging -->
          <tr class="contents" th:data-id="${phrase.id}">
            <td class="">
              <label class="flex items-center justify-center cursor-pointer flex-col h-full w-full pr-1">
                <input type="checkbox" form="new-quiz" name="phrases" th:value="${phrase.id}" checked class="" />
              </label>
            </td>
            <td class="">
              <input
                th:form="|update-${phrase.id}|"
                type="text"
                name="traditional"
                th:value="${phrase.traditional}"
                class="input px-1 py-1"
              />
            </td>
            <td class="">
              <input
                th:form="|update-${phrase.id}|"
                type="text"
                name="pinyin"
                th:value="${phrase.pinyin}"
                class="input px-1 py-1"
              />
            </td>
            <td class="">
              <input
                th:form="|update-${phrase.id}|"
                type="text"
                name="english"
                th:value="${phrase.english}"
                class="input px-1 py-1"
              />
            </td>
            <td class="flex items-center gap-2">
              <form
                th:if="${phrase.pronunciationUrl == null}"
                method="post"
                th:action="|/phrase/${phrase.id}/audio|"
                th:hx-post="|/phrase/${phrase.id}/audio|"
                hx-swap="outerHTML"
                hx-target="closest tr"
                class="inline-block h-full"
              >
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                <button class="py-1 px-2 border rounded-md text-xs h-full" type="submit">Hear it</button>
              </form>
              <span th:unless="${phrase.pronunciationUrl == null}" class="inline-block h-full">
                <audio th:src="|${phrase.pronunciationUrl}|"></audio>
                <button
                  type="button"
                  class="w-[55px] py-1 light:bg-slate-200 border rounded-md text-xs h-full"
                  onclick="event.target?.parentNode?.firstElementChild?.play?.()"
                >
                  ⏵
                </button>
              </span>

              <actions-popup class="inline-block h-full">
                <span data-trigger-content>Actions</span>
                <div data-popup-content>
                  <div class="text-center mb-3" th:text="${phrase.traditional}"></div>
                  <div class="flex justify-around items-center">
                    <form
                      method="post"
                      action="/phrase/delete"
                      th:hx-delete="|/phrase/${phrase.id}|"
                      class="inline-block"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
                    >
                      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                      <input type="hidden" name="id" th:value="${phrase.id}" />
                      <button type="submit" class="py-1 px-2 border rounded-md text-xs h-full">Delete</button>
                    </form>

                    <form
                      th:id="|update-${phrase.id}|"
                      method="post"
                      action="/phrase/update"
                      th:hx-patch="|/phrase/${phrase.id}|"
                      class="inline-block"
                      hx-target="closest tr"
                      hx-swap="outerHTML"
                    >
                      <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                      <input type="hidden" name="id" th:value="${phrase.id}" />
                      <button type="submit" class="py-1 px-2 border rounded-md text-xs h-full">Save</button>
                    </form>
                  </div>
                </div>
              </actions-popup>
            </td>
          </tr>
        </th:block>

        <!-- new phrase form row -->
        <tr hx-swap="beforebegin" hx-target="closest tr" class="contents">
          <td class=""></td>
          <td class="">
            <input form="create-phrase" type="text" name="traditional" value="" class="input" />
          </td>
          <td class="">
            <input form="create-phrase" type="text" name="pinyin" value="" class="input" />
          </td>
          <td class="">
            <input form="create-phrase" type="text" name="english" value="" class="input" />
          </td>
          <td class="overflow-auto whitespace-nowrap">
            <form
              id="create-phrase"
              method="post"
              action="/phrase"
              hx-post="/phrase"
              class="inline-block"
              hx-on::after-request="this.reset()"
            >
              <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
              <button type="submit" class="py-1 px-2 border rounded-md text-xs">Add</button>
            </form>
          </td>
        </tr>
      </tbody>
    </table>

    <script type="module" th:src="@{/js/flash-alert.js}"></script>
    <script type="module" th:src="@{/js/actions-popup.js}"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js"
      integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz"
      crossorigin="anonymous"
    ></script>
    <script th:src="@{/js/htmx-config.js}"></script>
  </body>
</html>
