<form
  th:fragment="new-quiz-form (id)"
  th:id="${id}"
  method="post"
  action="/quizes/create"
  class="mt-3 mb-4 flex items-center justify-center gap-4"
>
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
  <label>
    From
    <select multiple name="from[]" required>
      <option value="traditional">Traditional</option>
      <option value="pinyin">Pinyin</option>
      <option value="english">English</option>
    </select>
  </label>

  <label>
    To
    <select multiple name="to[]" required>
      <option value="traditional">Traditional</option>
      <option value="pinyin">Pinyin</option>
      <option value="english">English</option>
    </select>
  </label>

  <!-- include as progressive enhancement -->
  <label class="hidden">
    <input type="checkbox" checked />
    Select All
  </label>

  <button type="submit" class="p-2 m-2 border rounded-md">New Quiz</button>
</form>
